<header>
    <nav>
        
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACT-US</a></li>
        </ul>
    </nav>
</header>