<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>cue</title>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- body %>
    </body>
</html>